---
layout: default
---

<div class="post-single">
  <h2>
    <a href="{{ page.url }}">{{ page.title }}</a>
    <span class="date">{{ page.date | date:"%d-%b-%Y" }}</span>
  </h2>
  {{ content }}
</div>
<p>
    tags:
    {% for tag in page.tags %}
    <a class="badge badge-info" href="/tag/{{ tag }}/">
        {{ tag }}
    </a>
    {% endfor %}
</p>
<p class="well">
    <a href="mailto:andy@andyvanee.com?subject=Comments%20on%3A%20{{page.title|UrlEncode}}">
        Email
    </a>
    your comments or
    <a href="https://twitter.com/andyvanee">send me a tweet</a>.
    I will try to respond to all comments either by revising the
    post, or by responding personally. I promise not post or otherwise mishandle your email address:)
</p>
