//= require normalize
//= require syntax

@fg: #626262;
@fg2: lighten(@fg, 30%);
@bg: #fefefb;
@link: #78B;
@minimal: #E7E7E7;
@font1: Courier, "Courier New", monospace;
@font2: 'Helvetica Neue', sans-serif;
@heading-color: #8a8780;
@font-size: 16px;

body, html {
  font-family: @font1;
  font-weight: 500;
  font-size: @font-size;
  line-height: 1.7em;
  color: @fg;
  background-color: @bg;
  letter-spacing: 0.02em;
  word-spacing: -0.08em;
}

body {
  width: 48em;
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, .title {
  color: @heading-color;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 1.4em;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: @font2;
  font-weight: 900;
  line-height: 1.5em;
}

p, pre, blockquote, h1, h2, h3, h4, .title {
  margin-top: @font-size * 1.35;
  margin-bottom: @font-size * 1.35;
}

p, blockquote {
  text-align: left;
}

@media (min-width: 36em) {
  p, blockquote {
    text-align: justify;
  }
}

a {
  color: @link;
  &:hover {
    color: lighten(@link, 10%);
  }
}

.masthead {
  h1 {
    letter-spacing: -0.01em;
    text-align: right;
    margin: 0 0 1em;
    padding: 3em 0;
    font-weight: 800;
    margin: 0 -2em;
    padding: 2em;
    font-size: 1em;

    a {
      color: mix(@bg, @fg, 84%);
      text-decoration: none;
      font-size: 2.2em;
    }
  }
}

h2, .title {
  display: block;
  font-size: 2em;
  font-weight: 700;
  margin-top: 3em;
  margin-bottom: 0.1em;

  a {
    text-decoration: none;
    color: @heading-color;
  }
}

.date {
  display: block;
  font-size: 0.8em;
  padding: 0.4em 0;
  line-height: 1em;
  color: @fg2;
  border: 1px solid @fg2;
  border-width: 1px 0;
}

.article-list {
  list-style-type: none;
  padding: 0;
  & > li {
    margin: 0;
  }
}
