<form action='/create/page' method='post'>
    <input type='hidden' value='post' name='layout'>
    <!--<select name='layout'>
        <option value='default'>Default</option>
        <option value='post'>Post</option>
    </select>-->
    <input type='text' name='title' placeholder="Title" class='span8'>
    <textarea name='content' class='span8' rows='12'></textarea>
    <input type='text' name='tags' placeholder='Page, Tags' class='span8'>
    <input type='submit' name='submit' class='btn'>
</form>
