---
layout: default
title: Home
---

{% assign p = paginator %}

{% for page in p.posts %}
<div class="listed-post">
  <div class='listed-post-title' id='{{page.id | replace_first: '/', '' | replace:'/','-' }}'><a href="{{ page.url }}">{{ page.title }}</a></div>
  <div class='listed-post-date'>{{ page.date | date:"%d-%b-%Y" }}</div>
</div>
{% endfor %}


<ul class="pagination">
    {% assign next = p.next_page %}
    {% assign prev = p.previous_page %}
    {% assign curr = p.page %}
    {% assign next_str = "&raquo;&raquo;" %}
    {% assign prev_str = "&laquo;&laquo;" %}

    {% if prev > 1 %}
    <li><a href="/page{{prev}}/index.html">{{prev_str}}</a></li>

    {% elsif prev == 1 %}
    <li><a href="/">{{prev_str}}</a></li>

    {% else %}
    <li class="disabled"><a>{{prev_str}}</a></li>

    {% endif %}

    <li class="active"><a href="{% if curr == 1 %}/{% else %}/page{{curr}}/index.html{%endif%}">{{curr}}</a></li>

    {% if next %}<li><a href="/page{{next}}/index.html">{{next_str}}</a></li>

    {% else %}
    <li class="disabled"><a>{{next_str}}</a></li>

    {% endif %}

</ul>
