<!DOCTYPE html>
<html>
  <head>
    <title>andyvanee.com - {{ page.title }}</title>
    <link href="http://fonts.googleapis.com/css?family=Rokkitt:700|Cantarell:400,700,400italic" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/a.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="span8">
        <h1 class="page-title"><a href="/">andyvanee</a></h1>
      </div>
      <div class="span8">
        {{ content }}
      </div>
      <div class="span8 footer">
        <div class="inside">
          <p><a href="/">andyvanee.com</a> | <a href="https://github.com/Andyvanee/andyvanee.github.com/wiki">wiki</a></p>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" charset="utf-8" src="/js/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/app.min.js"></script>
</html>
