---
layout: default
title: Home
published: false
---

{% assign p = paginator %}

{% for page in p.posts %}
<div class="listed-post">
  <div class='listed-post-title'>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </div>
  <div class='listed-post-date'>
    {{ page.date | date:"%d-%b-%Y" }}
  </div>
</div>
{% endfor %}


<ul class="pagination">
  {% assign next = p.next_page %}
  {% assign prev = p.previous_page %}
  {% assign curr = p.page %}
  {% assign next_str = "&raquo;&raquo;" %}
  {% assign prev_str = "&laquo;&laquo;" %}

  {% if prev > 1 %}
    <li><a href="/page{{prev}}">{{prev_str}}</a></li>
  {% elsif prev == 1 %}
    <li><a href="/">{{prev_str}}</a></li>
  {% else %}
    <li class="disabled"><a>{{prev_str}}</a></li>
  {% endif %}

  <li class="active">
    <a href="{% if curr == 1 %}/{% else %}/page{{curr}}{%endif%}">{{curr}}</a>
  </li>

  {% if next %}
  	<li><a href="/page{{next}}">{{next_str}}</a></li>
  {% else %}
  	<li class="disabled"><a>{{next_str}}</a></li>
  {% endif %}
</ul>
